<link rel="stylesheet" href="../css/admin-managesupers.css">
<div id="background">
    {{> navbar}}
    {{!-- <div id="supers-div">
        <ul>
            {{#each supers}}
            {{#if this.isSuper}}
            <li data-id={{this.user_id}} data-name={{this.nameHyphen}} class="yesSuper user">{{this.name}}<button
                    class="manageusers" data-id={{this.user_id}}>Manage
                    Users</button><button class="setsuper removesuper" data-id={{this.user_id}}>Remove
                    Supervisor</button></li>
            {{else}}
            <li data-id={{this.user_id}} data-name={{this.nameHyphen}} class="noSuper user">{{this.name}}<button
                    class="setsuper addsuper" data-id={{this.user_id}}>Set
                    Supervisor</button></li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
    <div id="users-div">
        <ul id="supervisees">
        </ul>
        <ul id="not-supervisees">
        </ul>
    </div> --}}
    <div id="employee-select">
        <h2 id="select-employee-title">Select an Employee</h2>
        <ul id="employee-list">
            {{#each users}}
            <li data-id={{this.user_id}} class="li-employee">{{this.name}}{{#if this.isSuper}}<span class="mark-super">Supervisor</span>{{/if}}</li>
            {{/each}}
        </ul>
    </div>
    <div id="employee-manage" class="hidden-div">
        <button id="back-btn"><span id="back-sign">&lt;</span> Back</button>
        <h1 id="employee-name">Carsdan Dvorachek</h1>
        <h2 id="supervisor-title">Supervisor Status</h2>
        <select name="supervisor-status" id="supervisor-status-select"></select>
        <h2 id="supervisor-title">Supervising</h2>
        <ul>
            {{#each users}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
</div>
<script src="../js/admin-managesupers.js"></script>