<link rel="stylesheet" href="../css/admin-submittimecard.css">
<div id="background">
    {{> navbar}}
    {{#each timeperiods}}
    <div class="dropdown" data-id={{this.sectionId}}>
        <h3>{{this.timeperiodname}}</h3>
    </div>
    <div id={{this.sectionId}} class="timecards-section">
        {{#each this.approvedGroups}}
        <div id={{this.sectionIdApproved}}>
            <h4>{{this.sectionApproved}}</h4>
            {{#each this.timecards}}
            <div class="timecard-display">
                <p>User: {{this.username}} - {{this.titlename}} Supervisor: {{this.supervisorname}}</p>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>
<script src="../js/admin-submittimecard"></script>