<link rel="stylesheet" href="../css/user-timecard.css">
<div id="background">
    {{> navbar}}
    {{#if hasTimeCard}}
    <div id="timecard" data-timecard="true">
        <table>
            <tr>
                <th>Week 1</th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Weekly Total</th>
            </tr>
            {{#each timeInOuts1}}
            <tr class="tr-in">
                <td>Time In</td>
                <td>
                    <input id={{sundayNameIn}} class="edit-time-1" type="time" value={{this.sunday_in}}>
                </td>
                <td>
                    <input id={{mondayNameIn}} class="edit-time-1" type="time" value={{this.monday_in}}>
                </td>
                <td>
                    <input id={{tuesdayNameIn}} class="edit-time-1" type="time" value={{this.tuesday_in}}>
                </td>
                <td>
                    <input id={{wednesdayNameIn}} class="edit-time-1" type="time" value={{this.wednesday_in}}>
                </td>
                <td>
                    <input id={{thursdayNameIn}} class="edit-time-1" type="time" value={{this.thursday_in}}>
                </td>
                <td>
                    <input id={{fridayNameIn}} class="edit-time-1" type="time" value={{this.friday_in}}>
                </td>
                <td>
                    <input id={{saturdayNameIn}} class="edit-time-1" type="time" value={{this.saturday_in}}>
                </td>
                <td></td>
            </tr>
            <tr class="tr-out">
                <td>Time Out</td>
                <td>
                    <input id={{sundayNameOut}} class="edit-time-1" type="time" value={{this.sunday_out}}>
                </td>
                <td>
                    <input id={{mondayNameOut}} class="edit-time-1" type="time" value={{this.monday_out}}>
                </td>
                <td>
                    <input id={{tuesdayNameOut}} class="edit-time-1" type="time" value={{this.tuesday_out}}>
                </td>
                <td>
                    <input id={{wednesdayNameOut}} class="edit-time-1" type="time" value={{this.wednesday_out}}>
                </td>
                <td>
                    <input id={{thursdayNameOut}} class="edit-time-1" type="time" value={{this.thursday_out}}>
                </td>
                <td>
                    <input id={{fridayNameOut}} class="edit-time-1" type="time" value={{this.friday_out}}>
                </td>
                <td>
                    <input id={{saturdayNameOut}} class="edit-time-1" type="time" value={{this.saturday_out}}>
                </td>
                <td></td>
            </tr>
            {{/each}}
            <tr>
                <td>Daily Total</td>
                <td id="0-total"></td>
                <td id="1-total"></td>
                <td id="2-total"></td>
                <td id="3-total"></td>
                <td id="4-total"></td>
                <td id="5-total"></td>
                <td id="6-total"></td>
                <td id="weekly-total"></td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Week 2</th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Weekly Total</th>
            </tr>
            {{#each timeInOuts2}}
            <tr class="tr-in">
                <td>Time In</td>
                <td>
                    <input id={{sundayNameIn}} class="edit-time-2" type="time" value={{this.sunday_in}}>
                </td>
                <td>
                    <input id={{mondayNameIn}} class="edit-time-2" type="time" value={{this.monday_in}}>
                </td>
                <td>
                    <input id={{tuesdayNameIn}} class="edit-time-2" type="time" value={{this.tuesday_in}}>
                </td>
                <td>
                    <input id={{wednesdayNameIn}} class="edit-time-2" type="time" value={{this.wednesday_in}}>
                </td>
                <td>
                    <input id={{thursdayNameIn}} class="edit-time-2" type="time" value={{this.thursday_in}}>
                </td>
                <td>
                    <input id={{fridayNameIn}} class="edit-time-2" type="time" value={{this.friday_in}}>
                </td>
                <td>
                    <input id={{saturdayNameIn}} class="edit-time-2" type="time" value={{this.saturday_in}}>
                </td>
                <td></td>
            </tr>
            <tr class="tr-out">
                <td>Time Out</td>
                <td>
                    <input id={{sundayNameOut}} class="edit-time-2" type="time" value={{this.sunday_out}}>
                </td>
                <td>
                    <input id={{mondayNameOut}} class="edit-time-2" type="time" value={{this.monday_out}}>
                </td>
                <td>
                    <input id={{tuesdayNameOut}} class="edit-time-2" type="time" value={{this.tuesday_out}}>
                </td>
                <td>
                    <input id={{wednesdayNameOut}} class="edit-time-2" type="time" value={{this.wednesday_out}}>
                </td>
                <td>
                    <input id={{thursdayNameOut}} class="edit-time-2" type="time" value={{this.thursday_out}}>
                </td>
                <td>
                    <input id={{fridayNameOut}} class="edit-time-2" type="time" value={{this.friday_out}}>
                </td>
                <td>
                    <input id={{saturdayNameOut}} class="edit-time-2" type="time" value={{this.saturday_out}}>
                </td>
                <td></td>
            </tr>
            {{/each}}
            <tr>
                <td>Daily Total</td>
                <td id="0-total-2"></td>
                <td id="1-total-2"></td>
                <td id="2-total-2"></td>
                <td id="3-total-2"></td>
                <td id="4-total-2"></td>
                <td id="5-total-2"></td>
                <td id="6-total-2"></td>
                <td id="weekly-total-2"></td>
            </tr>
        </table>
    </div>
    {{else}}
    <p id="timecard" data-timecard="false">You don't have any time cards.</p>
    {{/if}}
</div>
<script src="../js/process-timecard.js"></script>
<script src="../js/user-timecard.js"></script>