<link rel="stylesheet" href="../css/user-timecard.css">
<div id="background">
    {{> navbar}}
    {{#if hasTimeCard}}

    {{!-- Ready/Unready Buttons --}}
    <button id="ready-btn" class="{{readyStatus}} ready-btn">Ready</button>
    <button id="unready-btn" class="{{unreadyStatus}} ready-btn">Unready</button>

    <div class="timecard-header-selector">
        <select id="title-select" name="title-select" class="title-select timecard-selector">
            {{#each titles}}
            <option value={{this.title_id}}>{{this.name}}</option>
            {{/each}}
        </select>
        <select id="period-select" name="period-select" class="period-select timecard-selector">
            {{#each periods}}
            <option value={{this.timeperiod_id}}>{{this.periodName}}</option>
            {{/each}}
        </select>
    </div>

    {{!-- TimeCards --}}
    <div id="timecards-div" data-timecard="true">
        {{#each timecards}}
        <div id="{{this.period_id}}-{{this.title_id}}" data-timecardid={{this.timecard_id}} data-isapproved={{this.isApproved}} data-isready={{this.isReadyToBeApproved}}
            data-titleid={{this.title_id}} data-periodid={{this.period_id}} {{#if this.isFirst}}
            class="shown-timecard timecard" {{else}} class="hidden-timecard timecard" {{/if}}>
            <div class="timecard-header">
                <div class="timecard-header-h3s">
                    <h3 class="timecard-identifier-h3">{{this.titlename}}</h3>
                    <h3 class="timecard-identifier-h3">{{this.day0}} - {{this.day13}}</h3>
                </div>
            </div>
            {{#each this.weeks}}
            <table id="table-{{this.timecard_id}}">
                {{#each this.trs}}
                <tr {{#if this.isInOut}} class={{this.inout}} {{/if}}>
                    {{#each this.cells}}
                    <{{this.cellType}} 

                        {{#if this.id}} 
                            id={{this.idValue}}
                        {{/if}} 
                        
                        {{#if this.class}}
                            class={{this.classValue}}
                        {{/if}} 
                        
                        {{#each this.dataAttributes}}
                            data-{{this.data}}={{this.dataValue}}
                        {{/each}}>

                        {{#if this.breaks}}
                            {{#each this.cellValues}}
                                {{this.miniValue}} <br>
                            {{/each}}
                            {{this.lastValue}}
                        {{/if}}

                        {{#if this.isNotApproved}}

                            {{#if this.isInOut}}
                                <input 
                                {{#each this.inputDataAttributes}}
                                    data-{{this.data}}={{this.dataValue}}
                                {{/each}}
                                class="{{this.classValue}} inout-input" type="time" value={{this.cellValue}}>
                            {{/if}}

                            {{#if this.isExtraRow}}
                                <input
                                {{#each this.inputDataAttributes}}
                                    data-{{this.data}}={{this.dataValue}}
                                {{/each}}
                                id={{this.idValue}} class="{{this.classValue}} extra-input" type="number" value={{this.cellValue}}>
                            {{/if}}

                        {{/if}}

                        {{#if this.justText}}
                            {{this.cellValue}}
                        {{/if}}

                    </{{this.cellType}}>
                    {{/each}}
                </tr>
                {{/each}}
            </table>
            {{#if this.isNotApproved}}
            <div class="add-time-in-out-div">
                <button class="add-time-in-out-btn" data-timecardid={{this.timecard_id}} data-week={{this.week}}>Add Time
                    In/Out</button>
                <button class="remove-time-in-out-btn" data-week={{this.week}}>Remove Time In/Out</button>
            </div>
            {{/if}}
            {{/each}}
        </div>
        {{/each}}
    {{else}}
    <p id="timecards-div" data-timecard="false">You don't have any time cards.</p>
    {{/if}}
</div>
<script src="../js/process-timecard.js"></script>
<script src="../js/user-timecard.js"></script>